# Build results
/data
/simple-option/target

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
simple-option/.cargo-ok

# Text file backups
simple-option/**/*.rs.bk

# macOS
.DS_Store
simple-option/.DS_Store

# IDEs
simple-option/*.iml
simple-option/.idea
